@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001f3f;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  text-align: center;
}
.input-field {
  width: 500px;
  color: #000;
}
.results-container {
  padding: 5px;
  border: 1px solid #001f3f;
  width: 500px;
  margin: 10px auto;
  text-align: left;
  max-height: 500px;
  overflow: scroll;
  scroll-behavior: smooth;
}
.results-container::-webkit-scrollbar {
  width: 10px;
}

.results-container::-webkit-scrollbar-track {
  background: #001f3f;
}

.results-container::-webkit-scrollbar-thumb {
  background-color: #adacacfe; 
  border-radius: 10px;
  border: 2px solid #001f3f; 
}

.results-container::-webkit-scrollbar-corner {
  display: none;
}
.results-container::-webkit-scrollbar-thumb:hover {
  background-color: #e3dcdc;
}
.result {
  display: block;
  padding: 5px;
}
.result:hover {
  background-color: #0a2a66;
  cursor: pointer;
}
